{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
    <title>Default Title</title>
    {% endblock %}
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    <!-- jQuery and JavaScript Bundle with Popper -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.slim.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js" integrity="sha384-7ymO4nGrkm372HoSbq1OY2DP4pEZnMiA+E0F3zPr+JQQtQ82gQ1HPY3QIVtztVua" crossorigin="anonymous"></script>

    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo1.png' %}" width="45" height="30" class="d-inline-block align-top" alt="">
            NBA BBS
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'BBS:index' %}">Home <span class="sr-only">(current)</span></a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'BBS:tags' %}">By Tag</a>
          </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'BBS:ratings' %}">Ratings</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'BBS:user-posts' user.username %}">My Posts</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'BBS:ratings-by-user' user.username %}">My Ratings</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Stats:index' %}">Stats</a>
          </li>
        </ul>
        <ul class="navbar-nav justify-content-end">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'BBS:profile' %}">
                        <button type="button" class="btn btn-light">{{ user.username }}</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "BBS:post-create" %}">
                        <button type="button" class="btn btn-success">New Post</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url "BBS:logout" %}">
                        <button type="button" class="btn btn-outline-danger">Log Out</button>
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url "BBS:login" %}">
                        <button type="button" class="btn btn-outline-primary">Log In</button>
                    </a>
                </li>
            {% endif %}
        </ul>

        </div>
    </nav>

    {% block msg %}
    <!--messages-->
        <br>
        <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary" role="alert">
                  {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}
</body>
</html>