{% extends 'BBS/base.html' %}

{% block title %}
    <title>NBA BBS</title>
{% endblock %}

{% block content %}
    <div class="container">
    {% block optional_welcome %}
    <div class="row">
    
    {% if not user.is_authenticated %}
        <br>
        <div class="container">
            <div class="jumbotron">
              <h1 class="display-4">NBA BBS</h1>
              <p class="lead">This is where you can share your opinions on what is happening in NBA.</p>
              <hr class="my-4">
              <p>It seems that you are not logged in yet :)</p>
              <a class="btn btn-primary btn-lg" href="{% url 'BBS:login' %}" role="button">Log In</a>
            </div>
        </div>
    {% else %}
        <br>
        <div class="container">
            <div class="jumbotron">
              <h1 class="display-4">Welcome {{ nickname }}!</h1>
              <p class="lead">This is where you can share your opinions on what is happening in NBA.</p>
            </div>
        </div>
    {% endif %}
    </div>
    {% endblock %}
    <!--posts-->
    <div class="row">
        <div class="col">

            {% for post in posts %}
            <div class="card rounded-lg shadow">


                <div class="card-body">
                    <a href="{% url 'BBS:post-detail' post.id %}">
                        <h5 class="card-title">{{ post.title }}</h5>
                    </a>
                    <p class="card-text">{{ post.abstract }}</p>
                    {% if post.user == user %}
                        <a href="{% url 'BBS:post-edit' post.id %}" class="card-link text-info">Edit</a>
                        <a href="{% url 'BBS:post-delete' post.id %}" class="card-link text-danger">Delete</a>
                    {% endif %}
                </div>
                <div class="card-footer text-muted">
                    <a href="{% url 'BBS:user-posts' post.user.username %}" class="text-secondary"><b>{{ post.user_info.nickname }}</b></a>
                        @ {{ post.post_time }} 
                    {% for tag in post.my_tags %}
                        <a href="{% url 'BBS:tag-posts' tag.name %}">
                        <span class="badge badge-info"># {{ tag.name }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>



    </div>
{% endblock %}