{% extends 'BBS/base.html' %}

{% block title %}
    <title>NBA BBS Ratings</title>
{% endblock %}

{% block content %}
    <div class="container">
    <br>
    {% block optional_search %}
    <div class="row justify-content-end">
        <div class="col-md-auto">
        <form class="form-inline my-2 my-lg-0" method="get" action="{% url "Stats:search-players" %}">
          <input class="form-control mr-sm-2" type="search" placeholder="Search Player" aria-label="Search" name="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </div>
    <br>
    {% endblock %}
    <!--ratings-->
    <div class="row row-cols-2">
        {% for rate in rates %}
        <div class="col">
            <div class="card rounded-lg shadow">
                <div class="card-body">
                    <h2 class="card-title"><span class="text-info"><b>{{ rate.rate }}</b></span> / 5</h2>
                    <h4 class="card-title">{{ rate.player }}</h4>
                    <p class="card-text">{{ rate.content }}</p>
                    <a href="{% url 'Stats:player' %}?player={{ rate.player }}" class="card-link text-info">Go to {{ rate.player }}</a>
                    {% if rate.user == user %}
                        <a href="{% url 'BBS:rating-delete' rate.id %}" class="card-link text-danger">Delete</a>
                    {% endif %}

                </div>

                <div class="card-footer text-muted">
                    <a href="{% url 'BBS:ratings-by-user' rate.user.username %}" class="text-secondary"><b>{{ rate.user_info.nickname }}</b></a>
                        @ {{ rate.rate_time }}
                </div>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    </div>
{% endblock %}