{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Tags index</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <h2>Find posts by tag:</h2>
        </div>
        <hr>
        <div class="row row-cols-4 justify-content-center">
        {% for tag in tags %}
            <div class="col rounded-pill shadow mt-3 mb-3 mx-3">
                <div class="container mx-1 mt-1 mb-1">
                    <div class="card-body">
                        <h5 class="card-title">{{ tag.name }}</h5>
                        <p class="card-body">{{ tag.description }}</p>
                        <a href="{% url 'BBS:tag-posts' tag.name %}" class="card-link text-info">Go</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}