body {
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(https://images.ctfassets.net/wn7ipiv9ue5v/xv8hbDrjv5Yp7JITewweR/244310d9d3fd8fc59c8ac106493d42a7/NBA2K24-STORE-COVER-ASSET-STD-3840x2160_1_.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}