

.wrapper {
	width: 1170px;
	margin: auto;
	height: 90px;
}



.welcome-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.welcome-text h1 span {
	color: #2883ea;
}

.welcome-text a {
	border: 1px solid #2883ea;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin: 10px 20px;
	display: inline-block;
	color: #2883ea;
	font-weight: bold;
}

.welcome-text a:hover {
	background: #2883ea;
	color: #ffffff;
	cursor: pointer;
}

/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}

	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto auto 5%;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}

	.nav-area {
		text-align: center;
	}

	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}

	.welcome-text h1 {
		font-size: 30px;
	}
}