* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
}

.wrapper {
	width: 1170px;
	margin: auto;
	height: 90px;
}

.image-head {
	/*background-image:url(http://placehold.it/1920x1080);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	height: 500px;
	width: 100%;
	margin: 0;
	padding: 0;
	color: black;
	text-align: center;
}

.nav-area {
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-area li {
	display: inline-block;
}

.nav-area li a {
	/*border: 1px solid #2883ea;*/
	color: #2883ea;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
}

.nav-area li a:hover {
	background: #2883ea;
	color: #ffffff;
}

.logo {
	float: left;
}

.logo img {
	width: 100%;
	margin-bottom: 1%;
}

.welcome-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.welcome-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.welcome-text h1 span {
	color: #2883ea;
}

.welcome-text a {
	border: 1px solid #2883ea;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin: 10px 20px;
	display: inline-block;
	color: #2883ea;
	font-weight: bold;
}

.welcome-text a:hover {
	background: #2883ea;
	color: #ffffff;
	cursor: pointer;
}

/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}

	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto auto 5%;
	}

	.nav-area {
		float: none;
		margin-top: 0;
	}

	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}

	.nav-area {
		text-align: center;
	}

	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}

	.welcome-text h1 {
		font-size: 30px;
	}
}