body {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://img.bleacherreport.net/img/images/photos/003/820/397/hi-res-5f76d242c2dd6ccf0c9bcc9d595baca0_crop_north.jpg?1563986896&w=3072&h=2048);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.content-table {
	display: block;
	border-collapse: collapse;
	margin: 30px 0px 10px 0px;
	font-size: 0.9em;
	min-width: 400px;
	border-radius: 5px 5px 0 0;
	overflow: auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	height: 600px;
}

.content-table thead tr {
	background-color: #2883ea;
	color: #ffffff;
	text-align: left;
	font-weight: bold;
}

.content-table th,
.content-table td {
	padding: 12px 15px;
	text-align: center;
}

.content-table th {
	cursor: pointer;
	text-align: center;
}

.content-table tbody tr {
	border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
	background-color: #e4e4e4;
}

.content-table tbody tr:nth-of-type(odd) {
	background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
	border-bottom: 2px solid #2883ea;
}

.content-table tbody tr.active-row {
	font-weight: bold;
	color: #2883ea;
}

.table-text {
	position: absolute;
	margin-left: 30%;
	margin-top: 2%;
	/*margin: 15% 30%;*/
	text-align: center;
}

.table-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.table-text h1 span {
	color: #2883ea;
	;
}

.header-text {
	width: 100%;
	margin: auto;
	text-align: center;
}

h1 {
	color: white;
}

tbody a {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: black;
}

tbody a:hover {
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #2883ea;
}

.header-text-h1 {
	color: #fff;
	text-transform: uppercase;
	/*font-size: 60px;*/
}

.header-text h1 span {
	color: #2883ea;
}

.header-text a {
	border: 1px solid #2883ea;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #2883ea;
}

.header-text a:hover {
	background: #2883ea;
	color: #ffffff;
}

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}

	.table-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}

	.header-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}

	.header-text h1 {
		font-size: 30px;
	}
}