<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>East</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/table.css' %}">
</head>

<body>
    <header>

        <div class="wrapper">

            <div class="logo">
                <img src="{%  static 'images/logo.png' %}" alt="">
            </div>

            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/leagueleaders">League leaders</a></li>
            </ul>

        </div>

    </header>

    <div class="table-text">
        <h1> East</h1>
        <table class="content-table" align="center">
            <thead>

                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win %</th>
                    <th>CONF</th>
                    <th>DIV</th>
                    <th>HOME</th>
                    <th>ROAD</th>
                    <th>L10</th>
                    <th>Streak</th>
                </tr>

            </thead>

            <tbody>
                {% for standing in standings %}
                <tr>
                    <td>{{ standing.position }}</td>
                    <td><a href="/team/?team={{ standing.name }}">{{ standing.name }}</a></td>
                    <td>{{ standing.wins }}</td>
                    <td>{{ standing.losses }}</td>
                    <td>{{ standing.winPCT }}</td>
                    <td>{{ standing.conference }}</td>
                    <td>{{ standing.division }}</td>
                    <td>{{ standing.home }}</td>
                    <td>{{ standing.road }}
                    <td>{{ standing.L10 }}</td>
                    <td>{{ standing.streak }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</body>

</html>