{% extends 'base.html' %}

{% block title %}
    <title>East</title>
{% endblock %}

{% block content %}
    <div class="table-text">
        <h1> East</h1>
        <table class="content-table" align="center">
            <thead>

                <tr>
                    <th>Rank</th>
                    <th>Team</th>
                    <th>Wins</th>
                    <th>Losses</th>
                    <th>Win %</th>
                    <th>CONF</th>
                    <th>DIV</th>
                    <th>HOME</th>
                    <th>ROAD</th>
                    <th>L10</th>
                    <th>Streak</th>
                </tr>

            </thead>

            <tbody>
                {% for standing in standings %}
                <tr>
                    <td>{{ standing.position }}</td>
                    <td><a href="/team/?team={{ standing.name }}">{{ standing.name }}</a></td>
                    <td>{{ standing.wins }}</td>
                    <td>{{ standing.losses }}</td>
                    <td>{{ standing.winPCT }}</td>
                    <td>{{ standing.conference }}</td>
                    <td>{{ standing.division }}</td>
                    <td>{{ standing.home }}</td>
                    <td>{{ standing.road }}
                    <td>{{ standing.L10 }}</td>
                    <td>{{ standing.streak }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}