<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>League leaders</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/leagueleaders.css' %}">
</head>

<body>
    <header>
        <div class="wrapper">

            <div class="logo">
                <img src="{%  static 'images/logo.png' %}" alt="">
            </div>

            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/leagueleaders">League leaders</a></li>
            </ul>

        </div>

    </header>

    <div class="table-text">
        <h1>League Leaders</h1>
        <table class="content-table" id="roster-table">
            <thead>

                <tr>
                    <th onclick="sortTable(0)">PER Rank</th>
                    <th onclick="sortTable(1)">Name</th>
                    <th onclick="sortTable(2)">PPG</th>
                    <th onclick="sortTable(3)">RPG</th>
                    <th onclick="sortTable(4)">APG</th>
                    <th onclick="sortTable(5)">FG %</th>
                    <th onclick="sortTable(6)">3P %</th>
                    <th onclick="sortTable(7)">FT %</th>
                    <th onclick="sortTable(8)">SPG</th>
                    <th onclick="sortTable(9)">BPG</th>
                    <th onclick="sortTable(10)">MPG</th>
                </tr>

            </thead>

            <tbody>
                {% for player in leaders %}
                <tr>
                    <td>{{ player.PER }}</td>
                    <td><a href="/player/?player={{ player.name }}">{{ player.name }}</a></td>
                    <td>{{ player.PPG }}</td>
                    <td>{{ player.RPG }}</td>
                    <td>{{ player.APG }}</td>
                    <td>{{ player.FG_PCT }}</td>
                    <td>{{ player.FG3_PCT }}</td>
                    <td>{{ player.FT_PCT }}</td>
                    <td>{{ player.SPG }}</td>
                    <td>{{ player.BPG }}
                    <td>{{ player.MPG }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</body>

</html>