{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ day }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{%  static  'css/matches.css' %}">
{% endblock %}

{% block content %}
     <div class="table-text">
        <h1> {{ day }} {{ time }}</h1>
        <table class="content-table" align="center">
            <thead>

                <tr>
                    <th>Points</th>
                    <th>Away</th>
                    <th><span>.</span> </th>
                    <th>Home</th>
                    <th>Points</th>
                </tr>

            </thead>

            <tbody>
                {% for match in matches %}
                <tr>
                    <td>{{ match.points_a }}</td>
                    <td><a href="/team/?team={{ match.away }}">{{ match.away }}</a></td>
                    <td> vs </td>
                    <td><a href="/team/?team={{ match.home }}">{{ match.home }}</a></td>
                    <td>{{ match.points_h }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}