{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ player.name }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{%  static  'css/player.css'  %}">
{% endblock %}

{% block content %}
    <div class="table-text">

        <div class="title-avatar">
            <img src="{{ photo }}" class="player-avatar">
            <h1> {{ player.name }} </h1>
            <div class="welcome-text">
                <a href="/playerseasons/?player={{ player.name }}">Seasons</a>
            </div>
        </div>

        <table class="content-table" id="roster-table">
            <thead>

                <tr>
                    <th>Birthdate</th>
                    <th>School</th>
                    <th>Country</th>
                    <th>Position</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Draft year</th>
                    <th>Draft number</th>
                    <th>Team</th>
                    <th>Experience</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>{{ player.birthdate }}</td>
                    <td>{{ player.school }}</td>
                    <td>{{ player.country }}</td>
                    <td>{{ player.position }}</td>
                    <td>{{ player.height }}</td>
                    <td>{{ player.weight }}</td>
                    <td>{{ player.draft_year }}</td>
                    <td>{{ player.draft_number }}</td>
                    <td><a href="/team/?team={{ player.team }}">{{ player.team }}</a></td>
                    <td>{{ player.experience }}</td>
                </tr>
            </tbody>

        </table>

    </div>
{% endblock %}