<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Seasons</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/seasons.css' %}">
</head>

<body>
    <header>
        <div class="wrapper">

            <div class="logo">
                <img src="{%  static 'images/logo.png' %}" alt="">
            </div>

            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/leagueleaders">League leaders</a></li>
            </ul>

        </div>

    </header>

    <div class="table-text">
        <h1><a href="/player/?player={{ player }}">{{ player }}</a></h1>
        <table class="content-table" id="roster-table">
            <thead>

                <tr>
                    <th>Season</th>
                    <th>Team</th>
                    <th onclick="sortTable(2)">GP</th>
                    <th onclick="sortTable(3)">MIN</th>
                    <th onclick="sortTable(4)">PTS</th>
                    <th onclick="sortTable(5)">FGM</th>
                    <th onclick="sortTable(6)">FGA</th>
                    <th onclick="sortTable(7)">FG %</th>
                    <th onclick="sortTable(8)">3PM</th>
                    <th onclick="sortTable(9)">3PA</th>
                    <th onclick="sortTable(10)">3P %</th>
                    <th onclick="sortTable(11)">FTM</th>
                    <th onclick="sortTable(12)">FTA</th>
                    <th onclick="sortTable(13)">FT %</th>
                    <th onclick="sortTable(14)">OREB</th>
                    <th onclick="sortTable(15)">DREB</th>
                    <th onclick="sortTable(16)">REB</th>
                    <th onclick="sortTable(17)">AST</th>
                    <th onclick="sortTable(18)">TOV</th>
                    <th onclick="sortTable(19)">STL</th>
                    <th onclick="sortTable(20)">BLK</th>
                    <th onclick="sortTable(21)">PF</th>
                    <th onclick="sortTable(22)">+/-</th>
                </tr>

            </thead>

            <tbody>
                {% for season in seasons %}
                <tr>
                    <td>{{ season.season }}</td>
                    <td><a href="/team/?team={{ season.team }}">{{ season.team }}</a></td>
                    <td>{{ season.GP }}</td>
                    <td>{{ season.MPG }}</td>
                    <td>{{ season.PPG }}</td>
                    <td>{{ season.FGMPG }}</td>
                    <td>{{ season.FGAPG }}</td>
                    <td>{{ season.FG_PCT }}</td>
                    <td>{{ season.FG3MPG }}</td>
                    <td>{{ season.FG3APG }}</td>
                    <td>{{ season.FG3_PCT }}</td>
                    <td>{{ season.FTMPG }}</td>
                    <td>{{ season.FTAPG }}</td>
                    <td>{{ season.FT_PCT }}</td>
                    <td>{{ season.ORPG }}</td>
                    <td>{{ season.DRPG }}</td>
                    <td>{{ season.RPG }}</td>
                    <td>{{ season.APG }}</td>
                    <td>{{ season.TOVPG }}</td>
                    <td>{{ season.SPG }}</td>
                    <td>{{ season.BPG }}</td>
                    <td>{{ season.PFPG }}</td>
                    <td>{{ season.PMPG }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</body>
<script src="{% static 'js/sortTable.js' %}"></script>

</html>