{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ player.name }}</title>
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row justify-content-center">
            {% if present %}
            <div class="col">
                <img src="{{ photo }}" class="rounded-pill shadow" alt="{{ player.name }}" height="175">
            </div>
            {% endif %}
            <div class="col">
                <div class="row ml-0">
                    <h1>{{ player.name }}</h1>
                </div>
                <div class="row mb-2">
                    <div class="col-md-auto">
                        {% if rated %}
                            <h3>Rating: <b><span class="text-info">{{ rating }} </span>/ 5</b></h3>
                        {% else %}
                            <h3>Rating: <b><span class="text-info">No Ratings </span>/ 5</b></h3>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-auto">
                        <a href="{% url 'BBS:ratings-by-player' player.name %}"><button class="btn btn-outline-info">All ratings of {{ player.name }}</button></a>
                    </div>
                    <div class="col-md-auto">
                        <a href="{% url 'BBS:rating-create' player.name %}"><button class="btn btn-outline-info">Rate {{ player.name }}</button></a>
                    </div>
                    {% if present %}
                    <div class="col-md-auto">
                        <a href="/playerseasons/?player={{ player.name }}"><button class="btn btn-outline-info">Seasons</button></a>
                    </div>
                    {% else %}
                    <div class="col-md-auto">
                        <h4><i>(Historic)</i></h4>
                    </div>
                    {% endif %}
                </div>
                <br>
                <div class="row rounded-lg shadow">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Birthdate</th>
                                <th scope="col">School</th>
                                <th scope="col">Country</th>
                                <th scope="col">Position</th>
                                <th scope="col">Height</th>
                                <th scope="col">Weight</th>
                                <th scope="col">Draft year</th>
                                <th scope="col">Draft number</th>
                                <th scope="col">Team</th>
                                <th scope="col">Experience</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ player.birthdate }}</td>
                                <td>{{ player.school }}</td>
                                <td>{{ player.country }}</td>
                                <td>{{ player.position }}</td>
                                <td>{{ player.height }}</td>
                                <td>{{ player.weight }}</td>
                                <td>{{ player.draft_year }}</td>
                                <td>{{ player.draft_number }}</td>
                                <td><a href="/team/?team={{ player.team }}">{{ player.team }}</a></td>
                                <td>{{ player.experience }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}