<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Roster</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/table.css' %}">
</head>

<body>
    <header>
        <div class="wrapper">

            <div class="logo">
                <img src="{%  static 'images/logo.png' %}" alt="">
            </div>

            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/leagueleaders">League leaders</a></li>
            </ul>

        </div>

    </header>

    <div class="table-text">
        <h1><a href="/team/?team={{ team }}">{{ team }}</a></h1>
        <table class="content-table" id="roster-table">
            <thead>

                <tr>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">PPG</th>
                    <th onclick="sortTable(2)">RPG</th>
                    <th onclick="sortTable(3)">APG</th>
                    <th onclick="sortTable(4)">FG %</th>
                    <th onclick="sortTable(5)">3P %</th>
                    <th onclick="sortTable(6)">FT %</th>
                    <th onclick="sortTable(7)">SPG</th>
                    <th onclick="sortTable(8)">BPG</th>
                    <th onclick="sortTable(9)">MPG</th>
                </tr>

            </thead>

            <tbody>
                {% for player in roster %}
                <tr>
                    <td><a href="/player/?player={{ player.name }}">{{ player.name }}</a></td>
                    <td>{{ player.PPG }}</td>
                    <td>{{ player.RPG }}</td>
                    <td>{{ player.APG }}</td>
                    <td>{{ player.FG_PCT }}</td>
                    <td>{{ player.FG3_PCT }}</td>
                    <td>{{ player.FT_PCT }}</td>
                    <td>{{ player.SPG }}</td>
                    <td>{{ player.BPG }}</td>
                    <td>{{ player.MPG }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</body>
<script src="{% static 'js/sortTable.js' %}"></script>

</html>