{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Schedule</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{%  static  'css/schedule.css'  %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

{% endblock %}

{% block content %}
    <div class="welcome-text">
        <h1><span>Select Date</span></h1>

        <form method="post">
            {% csrf_token %}
            {{ form.date }}
            <button type="submit" class="btn btn-info" style="background-color: #2883ea">Submit</button>
        </form>

    </div>
{% endblock %}