<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{%  static  'css/style.css'  %}">
    <link rel="stylesheet" href="{%  static  'css/schedule.css'  %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    {% load crispy_forms_tags %}

    {#    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}">#}
    {#    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="{% static 'css/bootstrap/bootstrap-datetimepicker.min.css' %}">#}
    {#    <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">#}
    {#    <script src="{% static 'js/datepicker/jquery.min.js' %}"></script>#}
    {#    <script src="//cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>#}
    {#    <script src="{% static 'js/datepicker/bootstrap.min.js' %}"></script>#}
    {#    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    {#    <script src="{% static 'js/datepicker/moment.min.js' %}"></script>#}
    {#    <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>#}
    {#    <script src="{% static 'js/datepicker/bootstrap-datetimepicker.min.js' %}"></script>#}
    {#    <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>#}
</head>

<body>
    <header>
        <div class="wrapper">

            <div class="logo">
                <img src="{%  static 'images/logo.png' %}" alt="">
            </div>

            <ul class="nav-area">
                <li><a href="/">Home</a></li>
                <li><a href="/standings">Standings</a></li>
                <li><a href="/schedule">Schedule</a></li>
                <li><a href="/teams">Teams</a></li>
                <li><a href="/leagueleaders">League leaders</a></li>
            </ul>

        </div>

    </header>

    <div class="welcome-text">
        <h1><span>Select Date</span></h1>

        <form method="post">
            {% csrf_token %}
            {{ form.date }}
            <button type="submit" class="btn btn-info" style="background-color: #2883ea">Submit</button>
        </form>

    </div>

</body>

</html>