{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Teams</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{%  static  'css/teams.css'  %}">
{% endblock %}

{% block content %}
    <script src="{% static 'js/sortTable.js' %}"></script>
    <div class="table-text">
        <h1> ALL TEAMS</h1>
        <table class="content-table" id="teams-table">
            <thead>

                <tr>
                    <th onclick="sortTable(0)">Name</th>
                    <th onclick="sortTable(1)">City</th>
                    <th onclick="sortTable(2)">State</th>
                    <th onclick="sortTable(3)">Year founded</th>
                </tr>

            </thead>

            <tbody>
                {% for team in teams %}
                <tr>
                    <td><a id="a-team" href="/team/?team={{ team.nickname }}"> {{ team.full_name }}</a></td>
                    <td>{{ team.city }}</td>
                    <td>{{ team.state }}</td>
                    <td>{{ team.year_founded }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
{% endblock %}
