{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>{{ team }}</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{%  static  'css/team.css'  %}">
{% endblock %}

{% block content %}
    <div class="table-text">
    <div class="title-avatar">
        <img src="{{ photo }}" class="team-avatar">
        <h1>{{ team }}</h1>

    </div>
        <table class="content-table" id="roster-table">
            <thead>

                <tr>
                    <th>Head coach</th>
                    <th>General manager</th>
                    <th>Owner</th>
                    <th>Arena</th>
                </tr>

            </thead>

            <tbody>
                <tr>
                    <td>{{ details.coach }}</td>
                    <td>{{ details.manager }}</td>
                    <td>{{ details.owner }}</td>
                    <td>{{ details.arena }}</td>
                </tr>
            </tbody>

        </table>
    </div>
    <div class="link-text">

        <a href="/roster/?team={{ team }}">Roster</a>
        <a href="/played/?team={{ team }}">Games played</a>

    </div>
{% endblock %}